<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hcPeopleSearch - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("hcPeopleSearch", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["View"] == "Index" ? "active" : "")">@Html.ActionLink("Exact Name", "Index", "Person")</li>
                    <li class="@(ViewContext.RouteData.Values["View"] == "Soundex" ? "active" : "")">@Html.ActionLink("Soundex", "Soundex", "Person")</li>
                    <li class="@(ViewContext.RouteData.Values["View"] == "Levenshtein" ? "active" : "")">@Html.ActionLink("Levenshtein", "Levenshtein", "Person")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Brian Burditt @DateTime.Now.Year <i>Hope you enjoy!</i></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
